<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inglês Dinâmico</title>
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html">Início</a></li>
                    <li><a href="../training.html">Treinamento</a></li>
                    <li><a href="../comunity.html">Comunidade</a></li>
                </ul>
            </nav>
        </header>
    </head>
    <body>
            <h1>Inglês Dinâmico</h1>
        <form>
        </form>
        <footer></footer>
        </body>
    </body>
</html>