{% extends "layout.html" %}

{% block titulo %}
Please, work
{% endblock %}

{% block conteudo %}
<h2>Vamos estudar?</h2>
<p>   Nesse site, todas as palavras em inglês são sensíveis ao toque, esse sistema facilita a personalização do site para o seu nível de aprendizado. </p>
<p>   Se você já tem uma conta, entre nela e continue seu aprendizado, se não. Faça sua conta e aproveite essa ferramenta ao máximo.</p>
{% endblock %}

{% block videos %}
<section>
    <div><iframe width="100%" height="100%" src="https://www.youtube.com/embed/pF3-olwJiNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Tygu8PiVLeU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Li5y1NuhFKo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</section> 
{% endblock %}
