
{% extends "layout.html" %}

{% block pagina %}
Treinamento!!!
{% endblock %}

{% block titulo %}

{% endblock %}

{% block conteudo %}
<h1>Inglês Dinâmico</h1>
<h2>Vamos treinar!</h2>
<p>O objetivo dessa ferramenta é facilitar o seu aprendizado e ela sera baseada em quatro pilares básicos. <strong>Primeiro,</strong> a <em>gramática</em> serve para facilitar o aprendizado, ela apresenta regras que podem ser utilizadas em muitas situações e te ajudará a enfrentar desafios novos e se sair bem. <strong>Segundo,</strong> <em>vocabulário,</em> essa parte te ajudará a aumenta o seu repertório de palavras e isso será essencial para que consiga se comunicar sobre qualquer assunto. <strong> Terceiro, </strong> <em>prática</em> é o que te ajudará a fixar o conhecimento, se você repetir várias vezes o que aprendeu, nunca esquecerá! <strong> Quarto,</strong> interação com a <em>comunidade,</em> faça amigos que tem o mesmo objetivo que você e juntos vocês se fortalecerão e vão alcançar o objetivo que tem em comum.  </p>
<p>"Nossa maior fraqueza está em desistir. O caminho mais certo de vencer é tentar mais uma vez" - Thomas Edison </p>
<h2>Boa sorte!!!</h2>
{% endblock %}

{% block videos %}
<section>
    <div><h2>Gramática!</h2>
    <button><a href= "{{url_for('simplep') }}">Simple present</a></button>
    <button><a href="{{url_for('alfabeto') }}">Alfabeto</a></button>
    </div>
    <div><h2>Vocabulário!</h2></div>
    <div><h2>Prática!</h2></div>
</section>
{% endblock %}